In [23]:
import pandas as pd
import numpy as np
import random as rd

In [24]:
df_eval = pd.read_csv('/media/workspace/DeepFood/deep-reco-gym/output/trivago/dataset/Genting_Highlands_Malaysia/val_0.20_42_PrepareTrivagoSessionsDataFrames___clicked___column____c7c68781c1.csv')
df_eval.shape

(2383, 33)

In [25]:
df_eval['score'] = [rd.random() for i in range(len(df_eval))]

In [26]:
group = df_eval.sort_values('pos_item_idx')\
              .groupby(['timestamp', 'user_idx', 'session_idx', 'step'])

In [27]:
df_eval                  = group.agg({'impressions': 'first'})
df_eval['list_item_idx'] = group['item_idx'].apply(list)
df_eval['list_score']    = group['score'].apply(list)
df_eval['pos_item_idx']  = group['pos_item_idx'].apply(list)
df_eval['clicked']       = group['clicked'].apply(list)
df_eval['item_idx']      = df_eval.apply(lambda row: int(np.max(np.array(row['clicked'])*np.array(row['list_item_idx']))), axis=1)

In [28]:
df_eval.head()

,,,,impressions,list_item_idx,list_score,pos_item_idx,clicked,item_idx
timestamp,user_idx,session_idx,step,,,,,,
1541042090,349,356,2.0,"[5763948, 1351810, 4082014, 1579343, 595286, 1...","[8, 9, 36, 24, 19, 23, 41, 30, 17, 31, 37, 35,...","[0.2672030474727224, 0.8699895654830142, 0.345...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",19
1541044085,397,416,2.0,"[2165594, 5763948, 1351810, 595286, 1120687, 1...","[8, 9, 19, 23, 38, 13, 24, 36, 32, 27, 33, 30,...","[0.2966255298161218, 0.1247858504561753, 0.562...","[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 15, 1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
1541045386,325,445,13.0,"[5763948, 1351810, 2165594, 4082014, 595286, 5...","[8, 9, 36, 19, 27, 24, 23, 30, 17, 31, 35, 37]","[0.13810572321217196, 0.5813969117633107, 0.28...","[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...",17
1541055429,224,347,3.0,"[1351810, 5763948, 2165594, 595286, 1961747, 5...","[9, 8, 19, 38, 23, 13, 33, 27, 30, 36, 22, 24,...","[0.10521655929947882, 0.9054539561144302, 0.49...","[0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0
1541073233,20,519,3.0,"[5763948, 1120687, 4082014, 1579343, 3386520, ...","[8, 23, 36, 24, 30, 19, 41, 9, 31, 17, 35, 37]","[0.6684111807673027, 0.0801880893876844, 0.425...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",8

In [30]:
def sort_and_bin(row):
  list_sorted, score = zip(*sorted(zip(row['list_item_idx'], row['list_score']), key = lambda x: x[1], reverse=True))
  list_sorted = (np.array(list_sorted) == row['item_idx']).astype(int)

  return list(list_sorted)

df_eval['sorted_list'] = df_eval.apply(sort_and_bin, axis=1)
df_eval = df_eval.reset_index()

In [31]:
df_eval.head()

,timestamp,user_idx,session_idx,step,impressions,list_item_idx,list_score,pos_item_idx,clicked,item_idx,sorted_list
0,1541042090,349,356,2.0,"[5763948, 1351810, 4082014, 1579343, 595286, 1...","[8, 9, 36, 24, 19, 23, 41, 30, 17, 31, 37, 35,...","[0.2672030474727224, 0.8699895654830142, 0.345...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, ...",19,"[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]"
1,1541044085,397,416,2.0,"[2165594, 5763948, 1351810, 595286, 1120687, 1...","[8, 9, 19, 23, 38, 13, 24, 36, 32, 27, 33, 30,...","[0.2966255298161218, 0.1247858504561753, 0.562...","[1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 13, 15, 1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,1541045386,325,445,13.0,"[5763948, 1351810, 2165594, 4082014, 595286, 5...","[8, 9, 36, 19, 27, 24, 23, 30, 17, 31, 35, 37]","[0.13810572321217196, 0.5813969117633107, 0.28...","[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, ...",17,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]"
3,1541055429,224,347,3.0,"[1351810, 5763948, 2165594, 595286, 1961747, 5...","[9, 8, 19, 38, 23, 13, 33, 27, 30, 36, 22, 24,...","[0.10521655929947882, 0.9054539561144302, 0.49...","[0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
4,1541073233,20,519,3.0,"[5763948, 1120687, 4082014, 1579343, 3386520, ...","[8, 23, 36, 24, 30, 19, 41, 9, 31, 17, 35, 37]","[0.6684111807673027, 0.0801880893876844, 0.425...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",8,"[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]"

In [32]:
df_eval.iloc[3]

timestamp                                               1541055429
user_idx                                                       224
session_idx                                                    347
step                                                             3
impressions      [1351810, 5763948, 2165594, 595286, 1961747, 5...
list_item_idx    [9, 8, 19, 38, 23, 13, 33, 27, 30, 36, 22, 24,...
list_score       [0.10521655929947882, 0.9054539561144302, 0.49...
pos_item_idx     [0, 1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...
clicked          [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
item_idx                                                         0
sorted_list      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: 3, dtype: object

In [33]:
list(df_eval.iloc[3].list_item_idx)

[9, 8, 19, 38, 23, 13, 33, 27, 30, 36, 22, 24, 20, 39, 21, 31, 35, 3]

In [34]:
list(df_eval.iloc[3].list_score)

[0.10521655929947882,
 0.9054539561144302,
 0.49764108722967293,
 0.15138754162354806,
 0.004889536059273558,
 0.08853422032087666,
 0.24280209650276097,
 0.6902438534701557,
 0.6521856747735204,
 0.8879949796897147,
 0.9788027850852602,
 0.7007540916240788,
 0.6234604667813658,
 0.4822282427550211,
 0.6999191057280586,
 0.5370185240108027,
 0.5349134496607234,
 0.9234016634775625]

In [37]:
list(df_eval.iloc[3].clicked)

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [35]:
list_sorted, score = zip(*sorted(zip(df_eval.iloc[3].list_item_idx, df_eval.iloc[3].list_score), key = lambda x: x[1], reverse=True))

In [36]:
list_sorted

(22, 3, 8, 36, 24, 21, 27, 30, 20, 31, 35, 19, 39, 33, 38, 9, 13, 23)

In [12]:
_g = df.sort_values('pos_item_idx')\
                .groupby(['timestamp', 'step', 'user_idx', 'session_idx'])



df_group                  = _g.agg({'impressions': 'first'})
df_group['list_item_idx'] = _g['item_idx'].apply(list)
df_group['pos_item_idx']  = _g['pos_item_idx'].apply(list)
df_group['clicked']       = _g['clicked'].apply(list)
df_group['item_idx']      = df_group.apply(lambda row: int(np.max(np.array(row['clicked'])*np.array(row['list_item_idx']))), axis=1)


df_group = df_group.reset_index()

df_group.head()

,timestamp,step,user_idx,session_idx,impressions,list_item_idx,pos_item_idx,clicked,item_idx
0,1541031637,45.0,988,515,"[114705, 3132117, 2867886, 348106, 477761, 128...","[379, 268, 215, 336, 115, 169, 520, 466, 545, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",379
1,1541031784,84.0,988,515,"[114705, 3132117, 2867886, 348106, 477761, 128...","[379, 268, 215, 336, 115, 169, 520, 466, 545, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",220
2,1541034749,21.0,853,1110,"[1473359, 477726, 348106, 103322, 1852101, 258...","[350, 148, 336, 206, 287, 138, 268, 302, 430, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",148
3,1541036114,91.0,1338,1769,"[3135066, 103347, 5817302, 437526, 348106, 100...","[526, 453, 368, 360, 336, 194, 466, 274, 426, ...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",377
4,1541037122,100.0,494,334,"[934403, 3143897, 384031, 1852101, 931703, 128...","[63, 158, 471, 287, 498, 169, 164, 330, 56, 68...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",68

In [14]:
def sort_and_bin(row):
    list_sorted, score = zip(*sorted(zip(row['list_item_idx'], row['clicked']), key = lambda x: x[1], reverse=True))
    list_sorted = (np.array(list_sorted) == row['item_idx']).astype(int)
    
    return list(list_sorted)
   
df['sorted'] = df_group.apply(sort_and_bin, axis=1)
df.head()

,item_id,timestamp,timestamp_diff,step,user_idx,session_idx,action_type_item_idx,action_type_idx,list_action_type_idx,list_reference_search_for_poi,...,impressions,prices,clicked,pos_item_idx,item_idx,price,n_users,n_items,vocab_size,sorted
0,1448995,1541094998,6164379946,5.0,126,28,387,3,"[0, 2, 0, 0, 2]","[0, 0, 0, 0, 0]",...,"[1448995, 1102252, 348106, 103347, 2168202, 34...","[295.0, 123.0, 92.0, 135.0, 48.0, 49.0, 162.0,...",1.0,0,387,0.070525,1532,548,89,"[379, 268, 215, 336, 115, 169, 520, 466, 545, ..."
1,1102252,1541094998,6164379946,5.0,126,28,387,3,"[0, 2, 0, 0, 2]","[0, 0, 0, 0, 0]",...,"[1448995, 1102252, 348106, 103347, 2168202, 34...","[295.0, 123.0, 92.0, 135.0, 48.0, 49.0, 162.0,...",0.0,1,88,0.028696,1532,548,89,"[220, 379, 268, 215, 336, 115, 169, 520, 466, ..."
2,348106,1541094998,6164379946,5.0,126,28,387,3,"[0, 2, 0, 0, 2]","[0, 0, 0, 0, 0]",...,"[1448995, 1102252, 348106, 103347, 2168202, 34...","[295.0, 123.0, 92.0, 135.0, 48.0, 49.0, 162.0,...",0.0,2,336,0.021158,1532,548,89,"[148, 350, 336, 206, 287, 138, 268, 302, 430, ..."
3,103347,1541094998,6164379946,5.0,126,28,387,3,"[0, 2, 0, 0, 2]","[0, 0, 0, 0, 0]",...,"[1448995, 1102252, 348106, 103347, 2168202, 34...","[295.0, 123.0, 92.0, 135.0, 48.0, 49.0, 162.0,...",0.0,3,453,0.031615,1532,548,89,"[377, 526, 453, 368, 360, 336, 194, 466, 274, ..."
4,2168202,1541094998,6164379946,5.0,126,28,387,3,"[0, 2, 0, 0, 2]","[0, 0, 0, 0, 0]",...,"[1448995, 1102252, 348106, 103347, 2168202, 34...","[295.0, 123.0, 92.0, 135.0, 48.0, 49.0, 162.0,...",0.0,4,388,0.010457,1532,548,89,"[68, 63, 158, 471, 287, 498, 169, 164, 330, 56..."

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0])

In [ ]:
df_group[df_group.session_idx == 1769]

In [ ]:
df[df.session_idx == 1769]

In [ ]:
df_all = pd.read_csv("../output/trivago/trivagoRecSysChallengeData2019_v2/train.csv")
df_all.head()

In [ ]:
df_all[df_all.session_id == '511a831af3df7']